<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Reservaciones</title>
<link rel='stylesheet' id='style-css'  href='css/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<span class="logo">Reservación</span>
		<div id="restPage" class="bg_blur">	
		<div id="navbar">		
		<ul>
		<li><a href="user.html">Usuario</a></li>
		<li><input id="globalSearch" type="text" name="userId" placeholder="Nombre del restaurante o cocina"><a href="" class="gsearch"></a></li>
		</ul>
		</div>				
		<article class="wrap">		
		<section>
		<h4>Nombre Restaurante</h4>
		<h3>Dirección del Restaurante</h3>
		<a href="#">tipo de Cocina</a>
		<p>Descripción del restaurante</p>
		<p>Numero de espacios</p>
		<p>Price range</p>		
		<h5>Contacto</h5>
		<p>telefono 1234567898</p>
		<a href="#" action="mailto:you@site.com">debisniwd@irbioegnreigr</a>
		</section>
		<aside>	
		<form>
		<ul>
		<li>Día: <input type="date" name="day"><br></li>
		<li> Personas: <input type="number" name="people" min="1" max="10"><br></li>
		 <li>Hora: <input type="time" name="time"><br></li> 
		</ul>
		<a class="bt_reserv" href="#">Reservar</a>
		</form>
		</aside>		
		</article>
		</div>
</body>
</html>