<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Reservaciones</title>
<link rel='stylesheet' id='style-css'  href='css/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<span class="logo">Reservación</span>	
	<div id="content" >
	<form class="Form loginForm">
		<h3>Iniciar Sesión</h3>
		<hr>
		<ul>
		<li><input type="text" name="userId" placeholder="Usuario"><br></li>
		<li><input type="text" name="password" placeholder="Contraseña"><br></li>
		</ul>
		<input class="button" type="submit" value="Iniciar Sesión">
		<a href="signIn.html">Registrarme</a>
	</form>	
	</div>

</body>
</html>