<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Reservaciones</title>
<link rel='stylesheet' id='style-css'  href='css/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<span class="logo">Reservación</span>
	<div id="content" >
	<form class="Form signIn" >
		<h3>Registro</h3>
		<hr>
		<ul>
		Cuenta: <li><input type="text" name="userId"></li><br />
		Contraseña<li><input type="text" name="mail"></li><br />
		Correo Electrónico: <li><input type="text" name="mail"></li><br>
		Nombre: <li><input type="text" name="firstName"></li><br />
		Apellido Paterno: <li><input type="text" name="pLastName"></li><br />
		Apellido Materno: <li><input type="text" name="mLastName"></li><br />
		Teléfono: <li><input type="text" name="telephone"></li><br>
		Tipo de Cliente:<li><br />
		<select>
		  <option name="userTypeId" value="business">Negocio</option>
		  <option name="userTypeId" value="client">Cliente</option>
		</select><br />
		</li>
		</ul>
		<br><input class="button" type="submit" value="Registrar" >
		</form>
	</div>
</body>
</html>