@using ReservationModel;
@model Account

@{
    ViewBag.Title = "Login";
}

<title>Reservaciones</title>

<link rel='stylesheet' id='style-css'  href='~/Content/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='~/Content/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

 <span class="logo">Reservación</span>

		
	<div id="content" >
	
	<form class="Form loginForm" role="form" action="@Url.Action("Login", "Cuentas")" method="post">
        <h2 style="background-color:red;">@ViewBag.ErrorLogin</h2>
		<h3>Iniciar Sesión</h3>
        
		<hr>
		
       
           
            <ul>
		<li><input type="text" name="userName" placeholder="Usuario"><br></li>
		<li><input type="password" name="password" placeholder="Contraseña"><br></li>
		</ul>
         <input type="submit" class="button" value="Iniciar Sesión" />
              
            
		
		<a href="@Url.Action("SignIn", "Cuentas")">Registrarme</a>
	</form>
	
			
	</div>
	

</body>
</html>
