@{
    ViewBag.Title = "UserBusiness";
}

<title>Reservaciones</title>

<link rel='stylesheet' id='style-css'  href='~/Content/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='Link1'  href='~/Content/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<span class="logo">Reservación</span>

	<div id="navbar">
		
		<div id="navbar">
		
		<ul>
		<li><a href="user.html">Usuario</a></li>
		<li><input id="globalSearch" type="text" name="userId" placeholder="Nombre del restaurante o cocina"><a href="" class="gsearch"></a></li>
		
		
		</ul>

		</div>
		
	</div>

 
	<div id="user">	
	<article class="wrap">
	
	<aside>
		<ul>
	<li><a href="user.html">Usuario</a></li>		
	<li><a href="userEdit.html">Editar Información</a></li>
	<li><a href="userBusiness.html">Negocio</li>
	<li><a href="userBusinessEdit.html">Editar Información Negocio</a></li>
	<li><a href="signIn_business.html">Nuevo Negocio</a></li>
	<li><a href="reservationConsult.html">Consultar Reservaciones</a></li>
	
		
			
		</ul>
		
	</aside>

	
	
	<section>
	
	<h3>Información de Negocio</h3>
		
	<ul>
	<li>Nombre: Restaurante</li>		
	<li>Descripción: </li>
	<li>Dirección: </li>
	<li>Cocina:</li>
	<li>Número de Espacios:</li>
	<li>Rango de Precios:</li>
	<li>Teléfono:</li>
				
	</ul>
		
	</section>
	

				
	</article>
	
	
	</div>
	

</body>
</html>
