<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Reservaciones</title>
<link rel='stylesheet' id='style-css'  href='css/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Allan:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<span class="logo">Reservación</span>
	<div id="navbar">
		<ul>
		<li><a href="user.html">Usuario</a></li>
		<li><input id="globalSearch" type="text" name="userId" placeholder="Nombre del restaurante o cocina"><a href="" class="gsearch"></a></li>
		</ul>
		</div>
	<div id="user">	
	<article class="wrap">
	<aside>
		<ul>
	<li><a href="user.html">Usuario</a></li>		
	<li><a href="userEdit.html">Editar Información</a></li>
	<li><a href="userBusiness.html">Negocio</li>
	<li><a href="userBusinessEdit.html">Editar Información Negocio</a></li>
	<li><a href="signIn_business.html">Nuevo Negocio</a></li>
	<li><a href="reservationConsult.html">Nuevo Negocio</a></li>
		</ul>
	</aside>
	<section>
	<h3>Editar Información de Usuario</h3>
	<form>	
	<ul>
		Cuenta: <li><input type="text" name="userId"></li><br />
		Contraseña<li><input type="text" name="mail"></li><br />
		Correo Electrónico: <li><input type="text" name="mail"></li><br>
		
		Nombre: <li><input type="text" name="firstName"></li><br />
		Apellido Paterno: <li><input type="text" name="pLastName"></li><br />
		Apellido Materno: <li><input type="text" name="mLastName"></li><br />
		Teléfono: <li><input type="text" name="telephone"></li><br><br />			
	</ul>
	<a href="#">Guardar</a>
	</form>	
	</section>		
	</article>
	</div>
</body>
</html>